/*----- Nav Bar -----*/

.navbar-header {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
}


/*-----background img -----*/

.backgroungImg {
    width: 100vw;
    height: 2000px;
    background-image: url("../assets/img/back4.png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
    position: absolute;
    top: 0px;
    -webkit-filter: grayscale(85%);
    filter: grayscale(85%);
}


/*----- Main Page -----*/

#container-fluid {
    padding: 0 !important;
}


/*----- Options for Solo, 1v1 and team-----*/

#teamRow {
    display: inline-block;
}

.active {
    border: solid 3px green;
}

.teamBlue {
    background-color: blue;
    color: white;
}

.teamRed {
    background-color: red;
    color: white;
}


/*----- Search options-----*/

.list-group {
    max-height: 300px;
    margin-bottom: 10px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}


/*-----Icon field of characters----*/

.innerPicter {
    width: 100%;
    height: 100%;
}

.characterBox {
    max-width: 250px;
    height: 15vh;
    border: solid white 3px;
    display: inline-block;
    border-radius: 10px;
    margin: 5px;
}


/*-----Img of character----*/

.characterImg {
    width: 100%;
    height: 100%;
    background-image: url("../assets/img/character-img/ana.jpg");
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;
}


/*-------singleInformation--------*/

.redInformation,
.blueInformation {
    width: 80%;
    border: solid 5px blue;
    height: 500px;
    outline: 5px solid red;
}

.redInformation>h2 {
    color: aliceblue;
}

.redInformation {
    background-color: rgba(153, 83, 83, 0.6);
}

.blueInformation {
    background-color: rgba(115, 129, 160, 0.6);
}

#unknown {
    height: 100%;
    width: 100%;
    background-image: url("../assets/img/character-img/unknown.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}